/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: black;
  color: white;
  font-family: "Helvetica", cursive, arial;
  border: 1px dotted orange
}

div {
	border: 2px solid purple;
	margin: 3px 0% 0;
	float: left;
	overflow-wrap: break-word;
	  
	margin-left: auto;
	margin-right: auto
}

#body {
	border: 0;
	padding: 0
}
#head {
	border: 3px solid gold;
	text-align: center;
	margin: 0px
  
}

header {
	border: 4px solid yellow;
	display: grid;
	grid-template-columns:25% 50% 25%;
	grid-template-rows: auto;
	text-align: center;
}

.bar {
	margin:0%;
	padding: 0%;
	border: 2px solid chartreuse;
}

img {
	object-fit:scale-down
}

#logo-icon {
	max-height:135px;
	max-width: 135px
}

#logo {
	grid-column: 1/span 1;
	grid-row: 1/span 2;
}

#link-bar {
	grid-column: 2;
	grid-row: 1;
	padding: 16px 9px
}


